.one{

    color: white;
    background-color: black ;
    width: 100%;
    padding: 50px;
}
.h2{
font-size: large;
}
.label{
    font-size: large;   
}
.button{
   
    color: white;
}